body{
    background-color: gray;
    margin-left: 150px;
    margin-right: 130px;
    border: olid red;
}

nav{
    display: flex;
    background-color: rgb(23,23,23);
    box-shadow: 0 0 10px 2px goldenrod;
    margin-right: 20px;
}

nav > img{
    height: 90px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
h2{
    text-align: center;
    margin-left: 350px;
    margin-right: 500px;
    padding: 10px;
    color: black;
    background-color: green;
    border-radius: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{
    display: flex;
}
form{
    background-color: cornflowerblue;
    margin-top: 10px;
    padding: 20px;
    padding-right: 00px;
    width: 700px;
    height: 450px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
}

.outcome{
    color: white;
    border-radius: 10px;
    width: 280px;
    height: 200px;
    background-color: green;
    margin-left: 30px;
    margin-top: 130px;
    padding: 10px;
    font-size: x-large;
    box-shadow: 0 0 10px 2px;
}
.outcome > h3{
    text-align: center;
    color: black;
}
.button{
    background-color: green;
    border-radius: 7px;
    padding: 7px;
    color: white;
    transform-style: preserve-3d;
    cursor: pointer;
}